<main>
    <div class="container">
        <form class="formDiv" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <h1>Login</h1>

            <div class="textfield">
                <label for="user">User</label>
                <input type="text" name="user" [(ngModel)]="loginData.username" required class="form-control" [ngClass]="{'input-error': isError}" placeholder="User">
            </div>

            <div class="textfield">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="loginData.password" required class="form-control" [ngClass]="{'input-error': isError}" placeholder="Password">
            </div>

            <div class="error-message" *ngIf="isError">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn-login">Login</button>
        </form>
    </div>
</main>
