@import url('https://fonts.googleapis.com/css2?family=Roboto');

main {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

main * {box-sizing: border-box;}

main {
    width: 100vw;
    height: 100vh;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #404040;
    border-radius: 24px;
    box-shadow: 0px 10px 40px #000000;
}

.formDiv {
    width: 100%;
    align-items: self-start;
}

.formDiv > h1 {
    color: #ffa600;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > label {
    color: #ffa600;
    margin-bottom: 10px;
    font-size: 16px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #606060;
    color: #ffca67;
    font-size: 12px;
    box-shadow: 0px 10px 40px #303030;
    outline: none;
    box-sizing: border-box;
}

.textfield >input::placeholder { color: #ffca67; }

.btn-login {
    width: 100%;
    padding: 16px 0;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-weight: 10px;
    letter-spacing: 2px;
    color: #303030;
    background: #ffa600;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffca67;
}

.error-message {
    color: red;
    margin: 10px;
}

.btn-login:active {
    background: #bd7b00;
}